@media only screen and (min-width: 900px) and (max-width: 1349px) {

  .main {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  .beer {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column: 1;
    width: 40%;
    margin: 5%;
    height: 260px;
  }

  .taco {
    width: 40%;
    margin: 5%;
    height: 260px;
  }

  .toggle {
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .gegevenscontainer {
    grid-row: 2;
  }

  #beerimage {
    grid-row: 2;
    height: 200px;
    width: auto;
    margin: 0 auto;
    align-self: center;
  }

  #beerbutton {
    grid-column: 1;
    grid-row: 3
  }


  .welcome {
    width: 100%;
    margin: 5%;
  }


}
