@media only screen and (min-width: 550px) and (max-width: 899px) {

  .beer {
    display: grid;
    grid-template-columns: 70% 25%;
  }

  .toggle {
    grid-column: 2;
    grid-row: 1 / span 3;
  }

  .gegevenscontainer {
    grid-column: 1;
  }

  #beerbutton {
    grid-column: 1;
    grid-row: 3
  }

  #beerimage {
    grid-row: 2;
    height: 200px;
    width: auto;
    margin: 0 auto;
    align-self: center;
  }

}
